{% extends "base.html" %}

{% block title %}UTM generátor URL s parametry{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold text-gray-900 md:text-3xl max-w-4xl mx-auto px-4 md:px-8 py-4 mt-4 ">UTM generátor</h1>
<p class="text-justify text-gray-900 max-w-4xl mx-auto px-4 md:px-8 py-4">UTM generátor, někdy označovaný také jako UTM builder,
    je nástroj, který usnadňuje tvorbu URL obsahující UTM parametry. Níže vyplňte vaše UTM parametry a v poli pod formulářem se automaticky vygeneruje požadovaná URL. Stačí zkopírovat klikem na ikonu.
Pokud si potřebujete udělat jasno o tom, co to UTM parametry jsou a jak fungují, tak pokračujte na článek <a class="underline" href="https://www.webmetrics.cz/articles/co-jsou-utm-parametry-a-jak-je-spravne-pouzit/">Co jsou UTM parametry a jak je správně použít</a>.</p>

<div class="flex items-center justify-center">
    <div class="lg:w-6/12">
<div>
<form id="utmForm">
    {% load widget_tweaks %}
    {% csrf_token %}

    <div class="md:flex md:items-center">
    <div class="ml-2 mr-2 w-28">Základní URL*:</div>
    {% render_field form.base_url type="url"
                        class="w-80 md:w-96 px-2 py-1 md:my-1.5 h-8 border rounded-md border-gray-300
                        bg-gray-50 text-gray-800" %}
    </div>
    <div class="md:flex md:items-center">
    <div class="ml-2 mr-2 w-28">UTM source*:</div>
    {% render_field form.utm_source type="text"
                        class="w-80 md:w-96 px-2 py-1 md:mt-1.5 h-8 border rounded-md border-gray-300
                        bg-gray-50 text-gray-800" %}
    </div>
    <div class="text-sm mb-1 md:ml-32">
        (např.: <span class="underline decoration-dotted decoration-1 cursor-pointer suggestion">google</span>,
          <span class="underline decoration-dotted decoration-1 cursor-pointer suggestion">sklik</span>,
          <span class="underline decoration-dotted decoration-1 cursor-pointer suggestion">facebook</span>,
          <span class="underline decoration-dotted decoration-1 cursor-pointer suggestion">instagram</span>,
          <span class="underline decoration-dotted decoration-1 cursor-pointer suggestion">newsletter</span>)
    </div>
    <div class="md:flex md:items-center">
    <div class="ml-2 mr-2 w-28">UTM medium*:</div>
    {% render_field form.utm_medium type="text"
                        class="w-80 md:w-96 px-2 py-1 md:mt-1.5 h-8 border rounded-md border-gray-300
                        bg-gray-50 text-gray-800" %}
    </div>
    <div class="text-sm mb-1 md:ml-32">
        (např.: <span class="underline decoration-dotted decoration-1 cursor-pointer suggestion">cpc</span>,
          <span class="underline decoration-dotted decoration-1 cursor-pointer suggestion">email</span>,
          <span class="underline decoration-dotted decoration-1 cursor-pointer suggestion">banner</span>)
    </div>
    <div class="md:flex md:items-center">
    <div class="ml-2 mr-2 w-28">UTM campaign:</div>
    {% render_field form.utm_campaign type="text"
                        class="w-80 md:w-96 px-2 py-1 md:my-1.5 h-8 border rounded-md border-gray-300
                        bg-gray-50 text-gray-800" %}
    </div>
    <div class="md:flex md:items-center">
    <div class="ml-2 mr-2 w-28">UTM content:</div>
    {% render_field form.utm_content type="text"
                        class="w-80 md:w-96 px-2 py-1 md:my-1.5 h-8 border rounded-md border-gray-300
                        bg-gray-50 text-gray-800" %}
    </div>
    <div class="md:flex md:items-center">
    <div class="ml-2 mr-2 w-28">UTM term:</div>
    {% render_field form.utm_term type="text"
                        class="w-80 md:w-96 px-2 py-1 md:my-1.5 h-8 border rounded-md border-gray-300
                        bg-gray-50 text-gray-800" %}
    </div>

</form>
</div>

<div class="max-w-full mx-auto px-4 md:px-8 bg-white shadow py-4 my-4 rounded-lg break-all flex justify-between" id="result">
    <span id="resultText">Vyplňte URL a alespoň UTM source a UTM medium.</span>
    <button id="copyButton" onclick="copyToClipboard()">
        <div id="icon-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00bfd8" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
  <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
</svg>
        </div>
    </button></div>
</div>
</div>
<div
                class="relative flex items-start justify-between mx-auto rounded-xl border border-gray-100 max-w-xl bg-white p-4 my-4 shadow-xl sm:p-6 lg:p-8"
        >
            <div class="pt-0.5 text-gray-500">

                <h2 class="mt-0.5 text-lg font-bold text-gray-900 sm:text-xl">
                    Jak pracovat s UTM generátorem?
                </h2>

                <div class="ml-4">
                    <ol class="list-decimal">
                    <li class="pt-2">Vyplňte základní URL bez UTM parametrů.
                        <ul class="list-disc ml-6 text-sm">
                            <li class="my-0.5">Pokud URL nebude obsahovat protokol http:// nebo https:// generátor ho automaticky doplní po opuštění políčka.</li>
                            <li class="my-0.5">Vložit můžete i URL obsahující UTM parametry. V takovém případě se jednotlivé parametry z URL odstraní a roztřídí se do příslušných políček. To se hodí v případě, že už máte URL s parametry a chcete upravovat jen některé z parametrů a ostatní zachovat.</li>
                        </ul>
                    </li>
                    <li class="pt-2">Vyplňte jednotlivé hodnoty UTM parametrů.
                        <ul class="list-disc ml-6 text-sm">
                            <li class="my-0.5">V momentě, kdy začnete vyplňovat se hodnoty začnou automaticky propisovat do finální URL do pole pod formulářem.</li>
                            <li class="my-0.5">Vždy k URL musíte vyplnit alespoň UTM source a UTM medium, ostatní jsou volitelné.</li>
                            <li class="my-0.5">Po některými poli jsou uvedeny příklady často používaných hodnot. V případě, že takovou hodnotu chcete použít, můžete na ni kliknout a automaticky se propíše do políčka.</li>
                        </ul>
                    </li>
                    <li class="pt-2">Zkopírujte finální URL obohacenou i UTM parametry kliknutím na ikonu. Poté ji vložte do vašich reklamních systémů, emailu atp., kde potřebujete URL s UTM parametry použít.</li>
            </ol>
            </div>
            </div>
        </div>
{% load static %}
<script type="text/javascript" src="{% static 'utmgenerator.js' %}"></script>
{% endblock %}

