{% extends "base.html" %}

{% block title %}UTM generátor URL s parametry{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold text-gray-900 md:text-3xl max-w-4xl mx-auto px-4 md:px-8 py-4 mt-4 ">UTM generátor</h1>
<p class="text-justify text-gray-900 max-w-4xl mx-auto px-4 md:px-8 py-4">UTM generátor, někdy označovaný také jako UTM builder,
    je nástroj, který usnadňuje tvorbu URL obsahující UTM parametry. Níže vyplňte vaše UTM parametry a v poli pod formulářem se automaticky vygeneruje požadovaná URL. Stačí zkopírovat klikem na ikonu.
Pokud si potřebujete udělat jasno o tom, co to UTM parametry jsou a jak fungují, tak pokračujte na článek <a class="underline" href="https://www.webmetrics.cz/articles/co-jsou-utm-parametry-a-jak-je-spravne-pouzit/">Co jsou UTM parametry a jak je správně použít</a>.</p>

<div class="flex items-center justify-center">
    <div class="lg:w-6/12">
<div>
<form id="utmForm">
    {% load widget_tweaks %}
    {% csrf_token %}

    <div class="md:flex md:items-center">
    <div class="ml-2 mr-2 w-28">Základní URL*:</div>
    {% render_field form.base_url type="url"
                        class="w-80 md:w-96 px-2 py-1 md:my-1.5 h-8 border rounded-md border-gray-300
                        bg-gray-50 text-gray-800" %}
    </div>
    <div class="md:flex md:items-center">
    <div class="ml-2 mr-2 w-28">UTM source*:</div>
    {% render_field form.utm_source type="text"
                        class="w-80 md:w-96 px-2 py-1 md:my-1.5 h-8 border rounded-md border-gray-300
                        bg-gray-50 text-gray-800" %}
    </div>
    <div class="md:flex md:items-center">
    <div class="ml-2 mr-2 w-28">UTM medium*:</div>
    {% render_field form.utm_medium type="text"
                        class="w-80 md:w-96 px-2 py-1 md:my-1.5 h-8 border rounded-md border-gray-300
                        bg-gray-50 text-gray-800" %}
    </div>
    <div class="md:flex md:items-center">
    <div class="ml-2 mr-2 w-28">UTM campaign:</div>
    {% render_field form.utm_campaign type="text"
                        class="w-80 md:w-96 px-2 py-1 md:my-1.5 h-8 border rounded-md border-gray-300
                        bg-gray-50 text-gray-800" %}
    </div>
    <div class="md:flex md:items-center">
    <div class="ml-2 mr-2 w-28">UTM content:</div>
    {% render_field form.utm_content type="text"
                        class="w-80 md:w-96 px-2 py-1 md:my-1.5 h-8 border rounded-md border-gray-300
                        bg-gray-50 text-gray-800" %}
    </div>
    <div class="md:flex md:items-center">
    <div class="ml-2 mr-2 w-28">UTM term:</div>
    {% render_field form.utm_term type="text"
                        class="w-80 md:w-96 px-2 py-1 md:my-1.5 h-8 border rounded-md border-gray-300
                        bg-gray-50 text-gray-800" %}
    </div>

</form>
</div>

<div class="max-w-full mx-auto px-4 md:px-8 bg-white shadow py-4 mt-4 rounded-lg break-all flex justify-between" id="result">
    <span id="resultText"></span>
    <button id="copyButton" onclick="copyToClipboard()">
        <div id="icon-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00bfd8" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
  <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
</svg>
        </div>
    </button></div>
</div>
</div>
{% load static %}
<script type="text/javascript" src="{% static 'utmgenerator.js' %}"></script>
{% endblock %}

