{% extends "base.html" %}
{% load l10n %}

{% block meta %}<meta name="author" content="{{ article.author.first_name }} {{ article.author.last_name }}" />{% endblock %}
{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="py-4 px-4"><div class="max-w-4xl mx-auto px-4 md:px-8 bg-white shadow">
  <div class="pt-14 lg:pt-16">
    <div class="border-b border-grey-lighter pb-8 sm:pb-12">
      <h1
        class="block font-body text-3xl font-semibold leading-tight text-primary sm:text-4xl md:text-5xl"
      >
        {{ article.title }}
      </h1>
      <div class="flex items-center pt-5 sm:pt-8">
        <p class="pr-2 font-body font-light text-primary dark:text-white">
            {{ article.last_modified|date:"j. F Y"|localize }} //
            {{ article.author.first_name }} {{ article.author.last_name }}
        </p>
      </div>
    </div>
    <div
      class="prose prose-code:bg-gray-100 prose-code:p-0.5 prose-pre:bg-gray-100 prose-pre:break-all prose-pre:whitespace-normal prose-pre:text-slate-800 max-w-none border-b border-grey-lighter py-8 sm:py-12 markdown-content"
    >
    {% block article_content %}{{ article.formatted_markdown|safe }}{% endblock %}

    </div>


  </div>
</div>
</div>

{% endblock %}