{% extends "base.html" %}

{% block title %}Nastavení uživatele{% endblock %}

{% block content %}
    <div class="flex items-center justify-center">
    <div class="flex flex-col max-w-md w-full my-2 p-6 items-center justify-center rounded-md sm:p-10 bg-gray-50 text-gray-800">
            <div class="pt-0.5 text-gray-500">
                 {% if messages %}
                      {% for message in messages %}
                        <div class="{% if message.tags == 'error' %}bg-red-100 text-red-700{% elif message.tags == 'success' %}bg-green-100 text-green-700{% endif %} p-2 mb-2 rounded">
                          {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}

                <h3 class="mt-0.5 text-lg font-bold text-gray-900 sm:text-xl">
                    Vítej {{ user }}
                </h3>
                <div class="form-content">
        <form method="POST">
                {% load widget_tweaks %}
                {% csrf_token %}
                <label for="annotation_title" class="block my-2 text-sm">Uživatelské jméno</label>
                {% render_field user_form.username type="text"
                class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50
                text-gray-800" %}
                <label for="annotation_text" class="block my-2 text-sm">Email</label>
                {% render_field user_form.email type="text"
                class="w-full px-3 py-2 border rounded-md border-gray-300 bg-gray-50
                text-gray-800" %}
                <div>
                    <button type="submit"
                            class="w-full px-8 mt-4 py-3 font-semibold rounded-md bg-amber-600 text-gray-50">
                        Upravit
                    </button>
                </div>
            </form>
    </div>
            </div>
        </div>
    </div>
    </div>



{% endblock %}