{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <div class="flex items-center justify-center mt-6">
        <table class="table-auto border-collapse bg-white">
            <thead class="border-b">
                <tr>
                    <th class="px-3 py-2">Sledované URL</th>
                    <th class="px-3 py-2">Alert</th>
                    <th class="px-3 py-2">LCP</th>
                    <th class="px-3 py-2">FID</th>
                    <th class="px-3 py-2">CLS</th>
                </tr>
            </thead>
            <tbody>
                {% for profile_url in profile.profileurl_set.all %}
                    <tr class="border-b">
                        <td class="px-3 py-2"><a href={% url "dashboard" profile_url.url.id %}>{{ profile_url.url.url }}</a>
                            <td class="px-3 py-2"><div class="form-check">
      <input class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white
      checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 my-1 align-top
      bg-no-repeat bg-center bg-contain float-left cursor-pointer" type="checkbox" value={{ profile_url.id }} id="email_alert"
      {% if profile_url.email_alert %}checked{% endif %}>
    </div></td>
                        {% with latest_crux=profile_url.url.cruxhistory_set.latest %}
                            {% with lcpm=latest_crux.lcpm %}
                                <td class="px-3 py-2 font-semibold
                                {% if lcpm > 4000 %}
                                text-red-600
                                {% elif lcpm > 2500 %}
                                text-amber-600
                                {% else %}
                                text-lime-600
                                {% endif %}">{{ lcpm }}</td>
                            {% endwith %}
                            {% with fidm=latest_crux.fidm %}
                                <td class="px-3 py-2 font-semibold
                                {% if fidm > 300 %}
                                text-red-600
                                {% elif fidm > 100 %}
                                text-amber-600
                                {% else %}
                                text-lime-600
                                {% endif %}">{{ fidm }}</td>
                            {% endwith %}
                            {% with clsm=latest_crux.clsm %}
                                <td class="px-3 py-2 font-semibold
                                {% if clsm > 0.25 %}
                                text-red-600
                                {% elif clsm > 0.10 %}
                                text-amber-600
                                {% else %}
                                text-lime-600
                                {% endif %}">{{ clsm }}</td>
                            {% endwith %}

                        <td class="px-3 py-2">{{ latest_crux.lcpd }}</td>
                        {% endwith %}


                    </tr>
                {% endfor %}
            </tbody>
        </table>

		    </div>

    <script>
$(document).ready(function() {
    $('input[type="checkbox"]').on('click', function() {
        if ($(this).is(':checked')) {
            var value = "True";
        } else {
            var value = "False";
        }
        var url_id = $(this).val();
        $.ajax({
            url: {% url "change_value" %},
            data: {
                'value': value,
                'url_id': url_id,
            },
            dataType: 'json',
            success: function(data) {
                console.log(data);
            }
        });
    });
});
</script>
{% endblock %}