{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1 class="flex items-center justify-center text-2xl font-bold pt-8">Rychlost pro stránku: {{ web_name }}</h1>
    {% if user.is_authenticated %}
        {% if not url_added %}
                <div class="flex items-center justify-center text-lg" id="addToProfile">
                <button type="submit" name="addurl" id="urlAdd" value={{ url_obj.id }}>Přidat do sledovaných</button>
                    </div>
            <div class="flex items-center justify-center text-lg italic hidden" id="removeFromProfile">
            <p>Stránka je ve sledovaných</p>
                <div class="pl-1">
                <button id="urlDelete" obj-id={{ url_obj.id }}><span
                          class="inline-flex items-center justify-center rounded-full bg-red-100 px-2.5 py-0.5 text-red-700"
                        >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
                            />
                          </svg>

                          <p class="whitespace-nowrap text-sm">Failed</p>
                        </span>
                    </button>
                </div>


            </div>
        {% else %}
                <div class="flex items-center justify-center text-lg hidden" id="addToProfile">
                <button type="submit" name="addurl" id="urlAdd" value={{ url_obj.id }}>Přidat do sledovaných</button>
                    </div>
            <div class="flex items-center justify-center text-lg italic" id="removeFromProfile">
            <p>Stránka je ve sledovaných</p>
                <div class="pl-1">
                <button id="urlDelete" obj-id={{ url_obj.id }}><span
                          class="inline-flex items-center justify-center rounded-full bg-red-100 px-2.5 py-0.5 text-red-700"
                        >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
                            />
                          </svg>

                          <p class="whitespace-nowrap text-sm">Odebrat</p>
                        </span>
                    </button>
                </div>

            </div>
        {% endif %}
    {% else %}
        <div class="flex items-center justify-center text-lg">
        <a href="{% url 'login' %}">Přihlašte se </a><p>&nbsp;pro přidání nebo odebrání stránky ze sledování</p>
        </div>
    {% endif %}
    <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
      <div class="grid row-gap-8 md:grid-cols-3">
      {% with latest_crux=url_obj.cruxhistory_set.latest %}
        <div class="text-center md:border-r">
          <h6 class="text-4xl font-bold lg:text-5xl xl:text-6xl">

                        {% if device == "m" %}
                            {{ latest_crux.fidm }}
                        {% else %}
                            {{ latest_crux.fidd }}
                        {% endif %}

          </h6>
          <p class="text-sm font-medium tracking-widest text-gray-800 uppercase lg:text-base">
            Fid
          </p>
        </div>
        <div class="text-center md:border-r">
          <h6 class="text-4xl font-bold lg:text-5xl xl:text-6xl">

                        {% if device == "m" %}
                            {{ latest_crux.lcpm }}
                        {% else %}
                            {{ latest_crux.lcpd }}
                        {% endif %}

          </h6>
          <p class="text-sm font-medium tracking-widest text-gray-800 uppercase lg:text-base">
            Lcp
          </p>
        </div>
        <div class="text-center md:border-r">
          <h6 class="text-4xl font-bold lg:text-5xl xl:text-6xl">
              <h6 class="text-4xl font-bold lg:text-5xl xl:text-6xl">

                      {% if device == "m" %}
                        {{ latest_crux.clsm }}
                      {% else %}
                        {{ latest_crux.clsd }}
                      {% endif %}

          </h6>
          <p class="text-sm font-medium tracking-widest text-gray-800 uppercase lg:text-base">
            Cls
          </p>
        </div>
        {% endwith %}
      </div>
    </div>
    <form method="post">
    {% csrf_token %}
    <div class="container mx-auto px-4 py-2">
    <div class="flex justify-end">
    <div class="inline-flex rounded-lg border border-gray-100 bg-gray-100 p-1">
  <button type="submit"
    class="inline-block rounded-md px-4 py-2 text-sm text-gray-500 hover:text-gray-700 focus:relative {% if device == 'm' %} bg-white shadow-sm {% endif %}" name="mobile" value="m"
  >
    Mobil
  </button>

  <button type="submit"
    class="inline-block rounded-md px-4 py-2 text-sm text-gray-500 hover:text-gray-700 {% if device == 'd' %} bg-white shadow-sm {% endif %} focus:relative" name="desktop" value="d"
  >
    Desktop
  </button>
</div>
        </div>
    </div>
        </form>

<div id="plotly-chart" class="container mx-auto px-4">

    <div {% if chart1 == 'Data nejsou k dispozici' %} class="flex items-center justify-center text-lg" {% else %} class="pb-4" {% endif %}>
    <div class="shadow-md">
  {{ chart1|safe }}
        </div>
    </div>
    <div {% if chart2 == 'Data nejsou k dispozici' %} class="flex items-center justify-center text-lg" {% else %} class="pb-4 shadow-sm" {% endif %}>
    <div class="shadow-md">
      {{ chart2|safe }}
        </div>
    </div>
    <div {% if chart3 == 'Data nejsou k dispozici' %} class="flex items-center justify-center text-lg" {% else %} class="pb-4 shadow-sm" {% endif %}>
    <div class="shadow-md">
      {{ chart3|safe }}
        </div>
    </div>
</div>


<script>
document.querySelector(document).ready(function() {
    document.querySelector("#urlDelete").click( function() {
        var url_id = document.querySelector(this).attr('obj-id');
        fetch('/remove-value/?url_id=' + url_id)
          .then(response => response.json())
          .then(data => {
              console.log(data);
              document.getElementById('removeFromProfile').classList.add('hidden');
              document.getElementById('addToProfile').classList.remove('hidden');
          })
          .catch(error => console.error(error));
        });
    
    document.querySelector("#urlAdd").click( function() {
        var url_id = document.querySelector(this).value;
        fetch('/add-value/?url_id=' + url_id)
          .then(response => response.json())
          .then(data => {
              console.log(data);
              document.getElementById('removeFromProfile').classList.remove('hidden');
              document.getElementById('addToProfile').classList.add('hidden');
          })
          .catch(error => console.error(error));
        });
});
</script>
{% endblock %}